
   
<div class="chat-global">

    <div class="nav-top">
        <div class="location">
            <img src="../../../assets/img/left-chevron.svg">
            <p>Back</p>
        </div>

        <div class="utilisateur">
            <p>John Doe</p>
            <p>Active Now</p>
        </div>

        <div class="logos-call">
            <img src="../../../assets/img/phone.svg">
            <img src="../../../assets/img/video-camera.svg">
        </div>
    </div>

    <div class="conversation">
        <div class="talk left">
            <img src="../../../assets/img/avatar2.jpg">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="talk right">
            <p>Lorem ipsum dolor sit amet.</p>
            <img src="../../../assets/img/avatar1.jpg">
        </div>
        <div class="talk left">
            <img src="../../../assets/img/avatar2.jpg">
            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="talk right">
            <p>Lorem ipsum dolor sit amet.</p>
            <img src="../../../assets/img/avatar1.jpg">
        </div>
    </div>


    <form class="chat-form">

        <div class="container-inputs-stuffs">

            <div class="files-logo-cont">
                <img src="../../../assets/img/paperclip.svg">
            </div>

            <div class="group-inp">
                <textarea placeholder="Enter your message here" minlength="1" maxlength="1500"></textarea>
                <img src="../../../assets/img/smile.svg">
            </div>


            <button class="submit-msg-btn">
                <img src="../../../assets/img/send.svg">
            </button>
        </div>

    </form>
</div>


