
   
<div class="chat-global">

    <div class="nav-top">
        <div class="location">
            <img src="../../../assets/img/left-chevron.svg">
            <p>Back</p>
        </div>

        <div class="group-inp1">
           
                <textarea placeholder="               Phone Number          " minlength="1" maxlength="1500"></textarea>
                
        </div>

        <div class="logos-call">
            <button class="submit-msg-btn1">
                <img src="../../../assets/img/téléchargement (1).png">
            </button>
           
        </div>
    </div>

    <div class="conversation">
      
    </div>


    <form class="chat-form">

        <div class="container-inputs-stuffs">

            <div class="files-logo-cont">
                <img src="../../../assets/img/paperclip.svg">
            </div>

            <div class="group-inp">
                <textarea placeholder="Enter your message here" minlength="1" maxlength="1500"></textarea>
                <img src="../../../assets/img/smile.svg">
            </div>


            <button class="submit-msg-btn">
                <img src="../../../assets/img/send.svg">
            </button>
        </div>

    </form>
</div>


