<div class="chat-global">
    <form    #sendSMSForm="ngForm" (ngSubmit)="sendSMSForm.valid && onSubmit(sendSMSForm)">

        <div class="nav-top">
        <div class="location">
            <img src="../../../assets/img/left-chevron.svg">
            <p>Back</p>
        </div>

        <div class="group-inp1"> 
           
            <input class="form-control"  #idcontact="ngModel" [(ngModel)]="messageService.selectedSMS.idcontact" name="idcontact" placeholder="               Phone Number          " minlength="1" maxlength="1500">
                
        </div>

        <div class="logos-call">
            <button class="submit-msg-btn1">
                <img src="../../../assets/img/téléchargement (1).png">
            </button>
           
        </div>
        </div>

        <div class="conversation">
      
        </div>



        <div class="container-inputs-stuffs">

            <div class="files-logo-cont">
                <img src="../../../assets/img/paperclip.svg">
            </div>

            <div class="group-inp">
                <input #content="ngModel" [(ngModel)]="messageService.selectedSMS.content" name="content" placeholder="Enter your message here" minlength="1" maxlength="1500">
                <img src="../../../assets/img/smile.svg">
            </div>

            <input class="btn btn-primary mt-4" type="submit" value="send">


<!--
            <button class="submit-msg-btn" type="submit">
                <img src="../../../assets/img/send.svg">
            </button>-->
        </div>

    </form>
</div>
