<div class="header bg-gradient-success py-7 py-lg-6">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <!-- <p class="text-lead text-light">Use this form to create a new account in <span style="font-weight: bolder; color: whitesmoke;">Poly Car Geoloc</span> for free.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--5 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" type="text" name="username" placeholder="UserName" #userName="ngModel" [(ngModel)]="userService.selectedUser.userName"
                required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !userName.valid }">
              </div>
            </div>
            <div *ngIf="signUpForm.submitted && userName.errors">
              <label *ngIf="emailAddress.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="emailAddress.errors.pattern" class="validation-message">Invalid email address.</label>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" type="text" #emailAddress="ngModel" [(ngModel)]="userService.selectedUser.emailAddress" name="emailAddress" placeholder="Email"
                required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !emailAddress.valid }">
              </div>
            </div>
            <div *ngIf="signUpForm.submitted && emailAddress.errors">
              <label *ngIf="emailAddress.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="emailAddress.errors.pattern" class="validation-message">Invalid email address.</label>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-tablet-button"></i></span>
                </div>
                <input class="form-control" type="tel" #phoneNumber="ngModel" [(ngModel)]="userService.selectedUser.phoneNumber" name="phoneNumber" placeholder="Phone Number" [pattern]="phoneNumberRegex"
                required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !phoneNumber.valid }">
              </div>
            </div>
            <div *ngIf="signUpForm.submitted && !phoneNumber.valid">
              <label *ngIf="phoneNumber.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="phoneNumber.errors.pattern" class="validation-message">Invalid phone number.</label>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
                minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
              </div>
            </div>
            <div *ngIf="signUpForm.submitted && password.errors">
              <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 8 characters.</label>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <input class="btn btn-primary mt-4" type="submit" value="Sign Up">
            </div>
            
          </form>
          
          <!-- Success message -->
          <div class="success" *ngIf="showSucessMessage">
            Saved successfully
          </div>
          
          <!-- Error message -->
          <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          <a routerLinkActive="active" [routerLink]="['/login']" class="text-light"><small>I have an account</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
