<div class="header bg-gradient-success py-7 py-lg-6">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <!-- <p class="text-lead text-light">Use this form to create a new account in <span style="font-weight: bolder; color: whitesmoke;">Poly Car Geoloc</span> for free.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--5 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            Reset your password
          </div>
          <div class="text-left text-muted mb-4">
            <small>Enter your user account's verified phone number and we will send you a verified code.</small>
          </div>
          <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.valid && onSubmit(forgotPasswordForm)">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-tablet-button"></i></span>
                </div>
                <input class="form-control" type="tel" #phoneNumber="ngModel" [(ngModel)]="userService.selectedUser.phoneNumber" name="phoneNumber" placeholder="Phone Number" [pattern]="phoneNumberRegex"
                required  [ngClass]="{'invalid-textbox' :forgotPasswordForm.submitted && !phoneNumber.valid }">
              </div>
            </div>
            <div *ngIf="forgotPasswordForm.submitted && !phoneNumber.valid">
              <label *ngIf="phoneNumber.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="phoneNumber.errors.pattern" class="validation-message">Invalid phone number.</label>
            </div>

            <div class="text-center">
              <input class="btn btn-primary mt-4" type="submit" value="Send code">
            </div>
            
          </form>

          <!-- Success message -->
          <div class="success" *ngIf="showSucessMessage">
            {{showSucessMessage}}
          </div>
          <!-- Error message -->
          <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a routerLinkActive="active" [routerLink]="['/login']" class="text-light"><small>I have an account</small></a>
        </div>
        <div class="col-6 text-right">
          <a routerLinkActive="active" [routerLink]="['/register']" class="text-light"><small>Create new account</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
