<div class="header bg-gradient-success py-7 py-lg-6">
    <div class="container">
      <div class="header-body text-center mb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome!</h1>
            <!-- <p class="text-lead text-light">Use this form to create a new account in <span style="font-weight: bolder; color: whitesmoke;">Poly Car Geoloc</span> for free.</p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--5 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="container-code">
                <header>
                  <i class="bx bxs-check-shield"></i>
                </header>
                <h4>Enter Code</h4>
                <form #codeVerificationForm="ngForm" (ngSubmit)="codeVerificationForm.valid && onSubmit(codeVerificationForm)">
                    <!-- <div class="form-group">
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input class="form-control" type="text" name="username" placeholder="UserName" #userName="ngModel" [(ngModel)]="model.userName"
                        required [ngClass]="{'invalid-textbox' :codeVerificationForm.submitted && !codeVerificationForm.valid }">
                      </div>
                    </div> -->
                    <div class="input-field">
                      <input type="number" name="element1" #element1="ngModel" [(ngModel)]="model.element1" maxlength="1"/>
                      <input type="number" name="element2" #element2="ngModel" [(ngModel)]="model.element2" maxlength="1" disabled />
                      <input type="number" name="element3" #element3="ngModel" [(ngModel)]="model.element3" maxlength="1" disabled />
                      <input type="number" name="element4" #element4="ngModel" [(ngModel)]="model.element4" maxlength="1" disabled />
                    </div>

                    <input class="btn" type="submit" value="Verify">
                    <!-- <div *ngIf="signInForm.submitted && userName.errors">
                      <label *ngIf="emailAddress.errors.pattern" class="validation-message">Invalid code.</label>
                    </div> -->
                  </form>
              </div>
            
            <!-- Error message -->
            <!-- <div class="alert" *ngIf="serverErrorMessages">
              {{serverErrorMessages}}
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  